.container {
   margin-right: 5%;
   margin-left: 5%;
}
.todo-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
}

input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.main-heading{
  text-align: center;
}

.todo-action{
  text-align: center;
  padding: 10px;
}


ul {
  background: #383839;
  padding: 20px;
}

ol li {
  background: #383839;
  color: white;
  padding: 5px;
  margin-left: 35px;
}

ul li span {
  width: 80%;
}

ul li {
  background: #383839;
  color: white;
  margin: 5px;
}